
.brettpit-admin-usersbox{
    width: 440px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}

.brettpit-admin-gamesbox{
    width: 440px;
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
}

.brettpit-admin-users-table{
    float: left;
    height: 200px;
    width: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}

.brettpit-admin-games-table{
    float: right;
    height: 200px;
    width: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}

.brettpit-label-admin-users {
    padding: 2px;
    margin: auto;
    width: 100%;;
}

.brettpit-button-admin-delete {
    padding: 2px;
    margin: auto;
    width: 100%;
    background-color: red;
}

.brettpit-button-admin-change {
    padding: 2px;
    margin: auto;
    width: 100%;
    background-color: yellow;
}

.brettpit-checkbox-admin-users {
    padding: 2px;
    margin: auto;
    width: auto;
}

.brettpit-textbox-admin-users{
    margin-bottom: 5px;
}

.brettpit-textbox-admin-games{
    width: 98%;
    border: hidden;
}

.brettpit-button-admin-addgame{
    width: 100%;
}

.brettpit-admin-users-table {
    border: 1px solid #575756;
    border-spacing: 0px;
    width: 400px;
}

.brettpit-admin-users-table table {
    border-spacing: 1px;
}

.brettpit-user {
    text-align: left;
    width: 200px;
    /*padding: 0 0 10px 10px;*/
    /*border: 1px;*/
}

.brettpit-isadmin {
    width: 30px;
    /*padding: 0 10px 10px 0;*/
    text-align: center;
    /*border: 1px;*/
}

.brettpit-delete{
    text-align: center;
    /*width: 100%;*/
    /*padding: 0 0 10px 10px;*/
    /*border: 1px;*/
}

.brettpit-resetpw{
    text-align: center;
    /*width: 100px;*/
    /*padding: 0 0 10px 10px;*/
    /*border: 1px;*/
}