body {
    background-color: #E5E5E5;
    font-family: "Open Sans";
    font-style: normal;
    color: #575756
}

.brettpit-textbox {
    background: transparent;
    border: 1px solid #575756;
    outline: 0;
    height: 25px;
}

.brettpit-text {
    font-size: 15px;
}

.brettpit-content-container {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    padding: 50px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

