body {
    background-color: #E5E5E5;
    font-family: "Open Sans";
    font-style: normal;
}

.brettpit-textbox {
    background: transparent;
    border: 1px solid #575757;
    outline: 0;
    height: 25px;
}

.brettpit-text {
    font-size: 15px;
}

.brettpit-content-container {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    padding: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#brettpit-logo {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.brettpit-text-area {
    float: left;
    width: 50%;
    text-align: center;
}

.brettpit-vertical-line {
    border-right: 1px solid #575757;
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: 5%;
}

.brettpit-form-area {
    float: right;
    width: 50%;
}

    .brettpit-form-area div {
        margin-left: 20px;
        margin-right: 35px;
    }

.brettpit-content-box {
    overflow: hidden;
    padding: 15px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #575757;
}

input[type=submit] {
    float: right;
    display: inline-block;
    padding: 5px 40px;
    background-color: transparent;
    border: 1px solid #575757;
    cursor: pointer;
}

.brettpit-tabs {
    list-style: none;
    margin: 0;
}

    .brettpit-tabs li {
        display: inline;
    }

        .brettpit-tabs li a {
            color: black;
            float: left;
            display: block;
            padding: 4px 10px;
            margin-left: -1px;
            position: relative;
            left: 1px;
            background: white;
            text-decoration: none;
        }

            .brettpit-tabs li a:hover {
                background: #ccc;
            }

.brettpit-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.brettpit-boxwrap {
    position: relative;
    min-height: 300px;
}

.brettpit-tabbed-area div div {
    background: white;
    padding: 20px;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
}

.brettpit-tabbed-area div div, .brettpit-tabs li a {
    border: 1px solid #575757;
}

#login-form {
    visibility: visible;
}

#register-form {
    visibility: hidden;
}

#login-form:target, #register-form:target {
    visibility: visible;
}