<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/login.css" rel="stylesheet" type="text/css" />

    <title>Login</title>
    @inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
</head>
<body>
    <div class="brettpit-logo">
        <img src="~/Content/Images/brettpit_logo2_big.png" alt="" />
    </div>
    <div class="brettpit-content-container">

        <div class="brettpit-form-area">
            <div class="brettpit-tabbed-area">
                <ul class="brettpit-tabs brettpit-group">
                    <li><a href="#login-form">Login</a></li>
                    <li><a href="#register-form">Register</a></li>
                </ul>

                <div class="brettpit-boxwrap">
                    <div id="login-form" class="brettpit-content-box">
                        <form method="POST">
                            <label for="textbox-username" class="brettpit-text">Username</label>
                            <input id="textbox-username" class="brettpit-textbox" name="Username" type="text" />
                            <label for="textbox-password" class="brettpit-text">Password</label>
                            <input id="textbox-password" class="brettpit-textbox" name="Password" type="password" />
                            <label for="checkbox-remember" class="brettpit-text">Remember Me</label>
                            <input id="checkbox-remember" name="RememberMe" type="checkbox" value="True" />
                            <input type="submit" value="Login" /> <br /><br />
                            <a href="./resetpwd">Reset password</a>
                        </form>
                    </div>
                    @if (Model.Errored)
                    {
                        <div id="errorBox" class="floatingError">Invalid Username or Password</div>
                    }

                    <div id="register-form" class="brettpit-content-box">
                        <form method="POST" action="">
                            <label for="textbox-username-register" class="brettpit-text">Username</label>
                            <input id="textbox-username-register" class="brettpit-textbox" name="Username" type="text" />
                            <label for="textbox-email-register" class="brettpit-text">Email</label>
                            <input id="textbox-email-register" class="brettpit-textbox" name="Email" type="email" />
                            <label for="textbox-password-register" class="brettpit-text">Password</label>
                            <input id="textbox-password-register" class="brettpit-textbox" name="Password" type="password" />
                            <label for="textbox-password-repeat-register" class="brettpit-text">Repeat</label>
                            <input id="textbox-password-repeat-register" class="brettpit-textbox" name="Repeat" type="password" />
                            <input type="submit" value="Register" formaction="/register" />
                        </form>
                    </div>

                    @if (Model.RegisterErrored)
                    {
                        <div id="registerErrorBox" class="floatingError">
                            Registration failed. Please note the following:
                            <ul>
                                <li>Type in a valid user name</li>
                                <li>Type in a valid email</li>
                                <li>The two password strings must match</li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="brettpit-vertical-line"></div>
        <div class="brettpit-text-area">
            <h3>Get the most out of your tabletops</h3>
            <br />
            Your platform to compete with
            your friends on different tabletop
            systems.
            <br />
            Please register for free or login.
        </div>
    </div>

</body>
</html>
