<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
    <div id="login-form">
        <form method="POST">
            <label for="textbox-email">Please enter your email address to reset your password:</label><br />
            <input id="textbox-email" name="email" type="email" />
            <input type="submit" value="reset password" />
        </form>
    </div>
</body>
</html>
